// Colors
$veryDarkBlue: hsl(233, 47%, 7%); //background
$darkDesaturatedBlue: hsl(244, 38%, 16%); //cardbackground
$softViolet: hsl(277, 64%, 61%); //accent

$white: hsl(0, 0%, 100%); //main heading, stats
$slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75); //main paragraph
$slightlyTransparentWhiteStat : hsla(0, 0%, 100%, 0.6); //Stat Headings

//font-family
$Inter: 'Inter', sans-serif;
$Lexend: 'Lexend Deca', sans-serif;

//font-weight
$thick: 700;
$normal: 400;